aiofiles==0.8.0
aiohttp==3.8.1
aiosignal==1.2.0
APScheduler==3.8.1
async-timeout==4.0.2
attrs==21.2.0
certifi==2021.10.8
charset-normalizer==2.0.9
click==8.0.3
Flask==2.0.2
Flask-Login==0.5.0
Flask-WTF==1.0.0
frozenlist==1.2.0
geoip2==4.5.0
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
mac-vendor-lookup==0.1.11
MarkupSafe==2.0.1
maxminddb==2.2.0
multidict==5.2.0
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
requests==2.26.0
scapy==2.4.4 #important newest version has bug
six==1.16.0
tzdata==2021.5
tzlocal==4.1
urllib3==1.26.7
Werkzeug==2.0.2
WTForms==3.0.1
yarl==1.7.2
