<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content='width=device-width, initial-scale=1.0,text/html,charset=utf-8'>
    <link type="text/css" href="/static/css/style.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/jpg" href="/static/favicon.png" />
    <link type="text/css" href="/static/css/login.css" rel="stylesheet" />
</head>

<div class="login-box">
    {% block content %}
    <img class="logo" src="/static/logo.png">
    <h1 class="title">IoTrimmer</h1><br>
    <h1>Sign In</h1><br>
    <form action="", method="post">
        {{ form.hidden_tag() }}
        <p>Username<br>
        {{form.user_name(size=32)}}<br><br>
        </p>
        <p>Password<br>
        {{form.password(size=32)}}<br><br>
        </p>
        {% if error %} <p class='error'> Invalid Credentials </p><br> {% endif %}
        <p>{{ form.submit(class_="btn") }}</p>
    </form>
    {% endblock %}
</div>
