<link type="text/css" href="/static/css/chart.css" rel="stylesheet" />

<body>
    <div class="outline">
        <canvas id="trafficChart"></canvas>
    </div>
</body>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2/dist/chart.min.js"></script>

<script type="text/javascript">

    const colours = [
        "#39cccc",
        "#3d9970",
        "#01ff70",
        "#ff851b",
        "#f012be",
        "#8e24aa",
        "#d81b60",
        "#222222",
        "#d2d6de"
    ];

    var data = {
        labels: {{ clock.json_time_list()|safe }},
        datasets: [
        {% for i, d in devices.enumerate() %}
        {
            label: '{{ d.name }}',
            data: {{ traffic.deviceTraffic[d.mac]|safe }},
            backgroundColor: colours[{{i}}],
        },
        {% endfor %}
        ]
    };
    
    var config = {
        type: 'bar',
        data: data,
        options: {
            font: 24,
            responsive: true,
            scales: {
                x: {
                    stacked: true,
                },
                y: {
                    stacked: true
                }
            }
        }
    };
    Chart.defaults.font.size = 14;
    var ctx = document.getElementById('trafficChart').getContext('2d');
    var myChart = new Chart(ctx, config, data);
</script>